* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'parastoo';
    color: rgb(30, 42, 77);
}

@font-face {
    font-family: 'parastoo';
    src: url('../fonts/collection-persian-web-font/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot');
    src: url('../fonts/collection-persian-web-font/parastoo-font-v1.0.0-alpha5/web/Parastoo.eot') format('FontName-opentype'),
        url('../fonts/collection-persian-web-font/parastoo-font-v1.0.0-alpha5/web/Parastoo.woff') format('woff'),
        url('../fonts/collection-persian-web-font/parastoo-font-v1.0.0-alpha5/web/Parastoo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'parastoo', sans-serif;
    opacity: 0;
    animation: animation1 2s ease-in-out forwards;
}

@keyframes animation1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #c4e5f2;
    padding: 0 5px;
}

.navbar .logo img {
    width: 200px;
}

.navbar .menu ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
}

.navbar .menu li {
    padding-left: 40px;
    position: relative;
}

.navbar .menu li a {
    text-decoration: none;
    font-weight: bold;
}

.menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #E1974B;
    width: 170px;
    border-radius: 5px;
}

.menu .submenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .submenu li {
    padding: 10px;
}

.menu .submenu li a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    width: 80px;
    transition: width 0.5s ease;
}

.menu .submenu li a:hover {
    background-color: #c4e5f2e0;
    font-size: 16px;
    width: 150px;
}

.navbar .menu li:hover>.submenu {
    display: block;
}

.button .login-button {
    background-color: #E1974B;
    border: 1px solid #c4e5f2e0;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button .search-input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #c4e5f2e0;
    border-radius: 5px;
}

.button .search-input:focus {
    outline: none;
}

.button .search-button {
    position: relative;
    left: 3%;
    background-color: #E1974B;
    border: 1px solid #c4e5f2e0;
    padding: 5px;
    border-radius: 5px;
    width: 40px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #c4e5f2;
    border-radius: 5px;
    margin: 40px;
    padding: 20px;
}

main h2 {
    padding-bottom: 20px;
}

main img {
    border-radius: 8px;
}

main .list ol {
    padding-right: 20px;
}

main .list li {
    list-style-type: persian;
}

main .list h3 {
    padding: 10px 10px 10px 0;
}

main .list p {
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
}

main .list ul li {
    margin: 10px 50px;
    list-style: disc;
}

footer {
    display: flex;
}

.footer-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 50%;
    background: #c4e5f2e0;
    outline: 1px solid #c4e5f2;
    border-radius: 5px;
    box-shadow: 0 0 10px #c4e5f2;
    margin: 2px;
}

footer .footer-logo:hover {
    background: #c4e5f2;
}

.footer-logo a img {
    width: 200px;
}

.footer-logo p {
    padding: 0px 70px 0px 20px;
}

.footer-logo .go-up {
    position: absolute;
    font-size: 40px;
    top: 60%;
    right: 18px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,20%,50%,80%,100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: #c4e5f2e0;
    outline: 1px solid #c4e5f2;
    border-radius: 5px;
    box-shadow: 0 4px 10px #c4e5f2;
    margin: 2px;
}

footer .footer-address:hover {
    background: #c4e5f2;
}

.footer-address h3 {
    padding: 10px;
}

.footer-social-icon {
    display: flex;
    align-items: center;
}

.footer-social-icon a {
    padding: 5px 20px;
    font-size: 35px;
}